.button {
  background-color: $button-bgcolor;
  color: white;
  text-decoration: none;
  padding: 1rem;

  // states
  &:hover {
    background-color: $button-bgcolor-hover;
    cursor: pointer;
  }
}
